page-more-info {
    .style{
        font-size: 14px;
        top: 100px;
    }
.tel{
height: 12px;
width: 12px;
}
.img1{
    height: 100px;
    width: 100px;
}
.img2{
    height: 100px;
    width: 100px;
}
#map{
   // background-color: red;
    // position: relative;
<<<<<<< HEAD
    height: 270px;
    
}
.steg{
    margin-top: 60px;
=======
    height: 50%;
>>>>>>> cb0477f5e7de064bb47d5cbd30f84ee4f7347d20
}
}
