page-more-info {
    .style{
        font-size: 16px;
        top: 110px;
        color: rgb(41, 96, 160);
    }
.tel{
height: 12px;
width: 12px;
// color:  rgb(41, 96, 160);
}
.img1{
    height: 100px;
    width: 100px;
}
.img2{
    height: 100px;
    width: 100px;
}
#map{
   // background-color: red;
    // position: relative;
    height: 30vh;
}
.segmt{
    font-size: 16px;
}

}
